.header{
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: space-between;
}

.headerLeft{
    display: flex;
    align-items: center;
}

.headerRight{
    /* border: 1px solid red; */
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.headerRight>a{
    font-family: LibreBaskerville;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: #374b5c;
  cursor: pointer;
  padding: 5px 0px;
}
.headerRight>a:hover{
    color: #00dbd0;
}
.active{
    border-bottom: 2px solid #00dbd0;
}
.headerRight>button{
    padding: 10px 25px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #00dbd0;
    border-radius: 10px;
    font-family: LibreBaskerville;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #374b5c;
}
.headerRight>button:hover{
    border: 2px solid #374b5c;
    color: #00dbd0;
}